*{
    background-color: black;
}
.head{
    display: flex;
    color:white;
    width:100%;
    text-align: center;
    justify-content: center;
    font-size:xx-large;
}
.textbar{
    display: flex;
    width:100%;
    justify-content: center;
    height:5vh;
    margin-top: 10vh;
   
}
.textbar input{
    background: #ffffff;
    margin:1.5px;
    padding:2px;
    width:20vw;
    height: auto;
    min-width:50px;
    font-size: xx-large;
    font-weight: bolder;
    border-radius: 10px;

}
.textbar button{
    background-color: #ffffff;
    margin:1.5px;
    padding:2px;
    min-width:20px;
    width:10vw;
    border-radius: 10px;
    height: 5vh;
}
.bodyhead ,.bodybody{
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    height:40px;
    align-items: end;
}
.bodyhead b , .bodybody b{
    font-size:xx-large;
    color:white;
}
#todo button{
    background-color: white;
    
}
ul div{
    width:100%;
}
#did li {
    color:white;
    
}
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
    .textbar input{
    width:40vw;
    height: auto;

    }
    .textbar input{
        font-size:x-large;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .textbar input{
    height: auto;
    width:40vw;
    }
    .textbar input{
        font-size:x-large;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .textbar input{
    height: auto;
    width:40vw;
    }
    .textbar input{
        font-size:x-large;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .textbar input{
    height: auto;
    width:50vw;
    }
    .textbar input{
        font-size:x-large;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .textbar input{
    height: auto;
    width:50vw;
    }
    .textbar input{
        font-size:x-large;
    }
}

/* Extra extra large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .textbar input{
    height: auto;
    width:50vw;
    }
    
}
#todo{
    color: #ffffff;
}

